@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

.cabecalho {
    background: linear-gradient(0deg, #E9E9F9 0.76%, rgba(225, 226, 255, 0) 100%), #FFFFFF;
    padding-top: 24px;
}

.menu-principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    margin-left: 100px;
}

.imagem {
    margin-right: 12px;
}

.menu-links {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu-links li {
    margin-left: 15px;
    margin-right: 15px;
}

a {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #12141D;
    font-family: 'Inter', sans-serif;
}

.botao {
    background-color: #111E52;
    color: white;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    font-family: 'Inter', sans-serif;
    margin-right: 100px;
}

.banner {
    display: flex;
    align-items: center;
}

.titulo-banner {

    margin-left: 100px;
    font-family: 'Inter', sans-serif;
    font-size: 54px;
}

.texto-banner {
    margin-left: 100px;
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.coluna-banner-direita {
    background-image: url(img/fundo-foto.png);
    background-position: center;
    background-size: cover;
}


.botao-banner {
    background-color: #FFC947;
    padding-right: 40px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    border-radius: 10px;
    font-family: 'Inter', sans-serif;
    margin-left: 100px;
    margin-top: 40px;
}

.seta {
    margin-left: 20px;
}

.titulo-principal {
    display: flex;
    align-items: center;
}

.corpo {
    text-align: center;
}

.linha {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.coluna-icone {
    margin-top: 176px;
    background: #F9F9FF;
    width: 416px;
}

.texto {
    margin-top: 24px;
    font-weight: 500;
    font-size: 20px;
    color: #12141D;
    font-family: 'Inter', sans-serif;
}

.texto-corpo {
    margin-top: 120px;
    font-weight: 500;
    font-size: 56px;
    color: #12141D;
    font-family: 'Inter', sans-serif;
}

.lorem {
    font-weight: 400;
    font-size: 18px;
    color: #12141D;
    margin-top: 24px;
}

.linha2 {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.titulo-lorem{
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 56px;
    margin-top: 214px;
    color: #12141D;
}

.texto-lorem{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #12141D;
}

.video{
    display: flex;
    align-items: center;
    margin-top: 414px;
    margin: 30px;
    width: 1500px;
    
}

.corpo {
    text-align: center;
}

.linha {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.coluna-icone {
    margin-top: 176px;
    background: #F9F9FF;
    width: 416px;
}

.texto {
    margin-top: 24px;
    font-weight: 500;
    font-size: 20px;
    color: #12141D;
    font-family: 'Inter', sans-serif;
}

.texto-corpo2 {
    text-align: left;
    margin-top: 120px;
    margin-left: 100px;
    font-weight: 500;
    font-size: 56px;
    color: #12141D;
    font-family: 'Inter', sans-serif;
}

.lorem {
    font-weight: 400;
    font-size: 18px;
    color: #12141D;
    margin-top: 24px;
}
